.navbar-custom {
    background-color: #2ec787;
    color: #ffffff;
    border-radius: 0;
}

.navbar-custom .navbar-nav>li>a {
    color: #fff;
}

.navbar-custom .navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #6DCCA8;
}

.navbar-custom .navbar-nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #6DCCA8;
}

.navbar-custom .navbar-brand {
    color: #000;
}

.navbar-custom .navbar-toggle {
    background-color: #6DCCA8;
}

.navbar-custom .icon-bar {
    background-color: #6DCCA8;
}

.dim-draggable,
.mes-draggable {
    z-index: 5;
    cursor: pointer;
}

.margin-top {
    margin-top: 30px;
}

#chart svg {
    height: 400px;
}

#selected-mes {
    height: 70vh;
}

#select-dim,
#select-mes {
    height: 32vh;
}

.btn-default.active,
.btn-default.active:hover,
.btn-default.active:active,
.btn-default.active:active:focus,
.btn-default:active:focus,
.btn-default:active,
.btn-default:hover,
.btn-default:focus {
    background-color: #2ec787;
    color: #fff;
}

.panel-default .dim-heading{
    background-color: #f37a53;
    color: #fff;
}

.panel-default .mes-heading {
    background-color: #2ebbc7;
    color: #fff;
}

.panel-body .label {
    font-size: 15px;
    margin: 8px 15px;
    display: block;
}

#select-dim,
#select-mes {
    padding: 0px
}

#select-dim .label{
    background-color: #f6a186;
    color: #fff;
}

#select-mes .label{
    background-color: #81d6dd;
    color: #fff;
}

.padding-right {
    padding-right: 60px;
}

.help-text {
    font-size: 11px;
    color: #ccc;
}
